<div class='container-fluid my-skills'>
        <h4>My Skills</h4>
        <div class="legend row">
            <div class="skills">
                <ul>
                    <li class="py">Python</li>
                    <li class="jq">JavaScript</li>
                    <li class="css">HTML5&amp;CSS3</li>
                    <li class="html">Angular</li>
                    <li class="php">NodeJS</li>
                    <li class="sql">MongoDB</li>
                </ul>
            </div>
        </div>
        <div id="diagram"></div>
        <div class="get">
            <div class="arc">
                <span class="text">Python</span>
                <input type="hidden" class="percent" value="75" />
                <input type="hidden" class="color" value="blue" />
            </div>
            <div class="arc">
                <span class="text">JavaScript</span>
                <input type="hidden" class="percent" value="60" />
                <input type="hidden" class="color" value="#97BE0D" />
            </div>
            <div class="arc">
                <span class="text">HTML5&amp;CSS3</span>
                <input type="hidden" class="percent" value="90" />
                <input type="hidden" class="color" value="#ff4d4d" />
            </div>
            <div class="arc">
                <span class="text">Angular</span>
                <input type="hidden" class="percent" value="40" />
                <input type="hidden" class="color" value="#668cff" />
            </div>
            <div class="arc">
                <span class="text">NodeJs</span>
                <input type="hidden" class="percent" value="53" />
                <input type="hidden" class="color" value="#5cd65c" />
            </div>
            <div class="arc">
                <span class="text">MongoDB</span>
                <input type="hidden" class="percent" value="45" />
                <input type="hidden" class="color" value="#b30000" />
            </div>
        </div>
	</div>
